@import '~office-ui-fabric-react/dist/sass/References.scss';

.peoplePickerContainer {
    p {
        color: black;
        font-size: 15px;
        font-weight: bold;
    }
    .selUsers {
        color: black;
    }
    .customStyledPicker {
        mgt-people-picker {
            --input-border: 2px rgba(255, 255, 255, 0.5) solid; /* sets all input area border */
        
              /* OR individual input border sides */
            --input-border-bottom: 2px rgba(255, 255, 255, 0.5) solid;
            --input-border-right: 2px rgba(255, 255, 255, 0.5) solid;
            --input-border-left: 2px rgba(255, 255, 255, 0.5) solid;
            --input-border-top: 2px rgba(255, 255, 255, 0.5) solid;
        
            --input-background-color: #1f1f1f; /* input area background color */
            --input-border-color--hover: #008394; /* input area border hover color */
            --input-border-color--focus: #0f78d4; /* input area border focus color */
        
            --dropdown-background-color: white; /* selection area background color */
            --dropdown-item-hover-background: #85abd1; /* person background color on hover */
            
            --selected-person-background-color: #f1f1f1; /* person item background color */
            
            --color: white; /* input area border focus color */
            --placeholder-color: #f1f1f1; /* placeholder text color */
            --placeholder-color--focus: rgba(255, 255, 255, 0.8); /* placeholder text focus color */
        }
    }
}