@import '~office-ui-fabric-react/dist/sass/References.scss';

.peoplePickerContainer {
    p {
        color: black;
        font-size: 15px;
        font-weight: bold;
    }
    .selUsers {
        color: black;
    }
    .customStyledPicker {
        mgt-people-picker {
            --input-border: 2px rgba(255, 255, 255, 0.5) solid; /* sets all input area border */
        
              /* OR individual input border sides */
            --input-border-bottom: 2px rgba(255, 255, 255, 0.5) solid;
            --input-border-right: 2px rgba(255, 255, 255, 0.5) solid;
            --input-border-left: 2px rgba(255, 255, 255, 0.5) solid;
            --input-border-top: 2px rgba(255, 255, 255, 0.5) solid;
        
            --input-background-color: #1f1f1f; /* input area background color */
            --input-border-color--hover: #008394; /* input area border hover color */
            --input-border-color--focus: #0f78d4; /* input area border focus color */
        
            --dropdown-background-color: white; /* selection area background color */
            --dropdown-item-hover-background: #85abd1; /* person background color on hover */
            
            --selected-person-background-color: #f1f1f1; /* person item background color */
            
            --color: white; /* input area border focus color */
            --placeholder-color: #f1f1f1; /* placeholder text color */
            --placeholder-color--focus: rgba(255, 255, 255, 0.8); /* placeholder text focus color */
        }
    }
}
.filesList {
    p {
        color: black;
        font-size: 15px;
        font-weight: bold;
    }
    .fileInfo {
        color: black;
        div {
            word-break: break-word;
        }
        div > p {
            margin: 3px 0px;
            font-size: 13px;
            display: contents;
        }
    }
    .customFileList {
        mgt-file-list {
            --font-family: 'Segoe UI';
            --font-size: 14px;
          
            --file-list-background-color: #ffffff;
            --file-list-border: 1px solid "[theme:themePrimary]";
            --file-list-box-shadow: none;
            --file-list-padding: 4px 0;
            --file-list-margin: 0;
          
            --file-item-background-color--hover: "[theme:themeTertiary]";
            --file-item-background-color--active: rgba(0, 0, 0, 0.05);
            --file-item-border-radius: 2px;
            --file-item-margin: 0 4px;
          
            --file-item-border-top: none;            
            --file-item-border-left: none;
            --file-item-border-right: none;
            --file-item-border-bottom: none;
          
            --show-more-button-background-color: "[theme:themeLighter]";
            --show-more-button-background-color--hover: "[theme:themeLight]";
            --show-more-button-font-size: 12px;
            --show-more-button-padding: 10px;
            --show-more-button-border-bottom-right-radius: 4px;
            --show-more-button-border-bottom-left-radius: 4px;
          
            --file-upload-border: 4px dotted #ffbdc3;
            --file-upload-background-color: rgba(255, 0, 0, 0.1);
            --file-upload-button-float: left;
            --file-upload-button-color: "[theme:themeWhite]";
            --file-upload-button-background-color: "[theme:themeSecondary]";
            --file-upload-dialog-content-background-color: #ffe7c7;
            --file-upload-dialog-primarybutton-background-color: #ffe7c7;
            --file-upload-dialog-primarybutton-color: #323130;
          }
    }
}